body {
    background-color: lightgray;
}

.container {
    display: flex;
    justify-content: center;
}

.drawing-area {
    width: 960px;
    height: 960px;
    background-color: white;
}

.row {
    display: flex;
}

.square {
    box-sizing: border-box;
}

.grid-lines {
    border: 1px dotted lightgray;
}

